.tabBtn{
    background-color: #e6e6f6;
    box-sizing: border-box;
    padding: 8px 36px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}
.analyticsScreen{
    display: flex;
    /* align-items: last baseline; */
    /* border: 1px solid black; */
    width: 100%;
}
.productNames{
    /* width: 100%; */
}
.productData table tr th{
    font-size: 18px;
    
} 
.productData table tr td{
    padding-top:10px;
    font-size: 16px;
    border: 1px solid white;
    /* margin: 10px; */
}
.productData table tr th , td{
    padding: 0px 14px;
    /* text-align: start; */
}
.productData{
    width: 50%;
    margin-left: 10px;
}
.tableData{

}
.retailerStyle{
    color: white;
    border: 1px solid white;
    /* padding: 10px; */
    box-sizing: border-box;
    text-align: center;
}

.productNames table tr th{
    /* text-align: center; */
    font-size: 16px;
    padding-left: 5px;
    box-sizing: border-box;
    padding: 10px 8px;
}
.productNames table tr td{
    /* border: 2px solid  #f3f4f7; */
    padding: 14px 10px;
    border-top: 1px solid #f3f4f7;
    border-bottom: 1px solid #f3f4f7;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.utilityClasses{
    font-family: "Roboto", sans-serif;
}

.dropDownList{
    color: black;
    margin-top: 20px;
    font-size: 16px;
    
    /* display: none; */


}
.dropDownList h3{
    font-size: 16px;
    font-weight: 500;
    padding-top: 11px;
    /* color: red; */
}